<fieldset class="design js__design-fieldset collapsed">

  <!-- ARREGLAR COLLAPSED -->

  <legend class="design__legend js__design-legend">
      <div class="design__legend__container">
          <i class="design__icon fa-solid fa-object-ungroup"></i>
          <h2 class="design__header">Diseña</h2>
      </div>
      <i class="fa-solid fa-angle-down"></i>
      <i class="fa-solid fa-angle-up hidden"></i>

  </legend>

  <div class="design__colors">
      <p class="design__text">Colores</p>
      <div>

          <div class="design__container design__container--1">
            <input class="design__palette" type="radio" id="color1" name="palette" value="color1" />
            <div class="design__rectangle design__rectangle--1"></div>
            <div class="design__rectangle design__rectangle--2"></div>
            <div class="design__rectangle design__rectangle--3"></div>
          </div>

          <div class="design__container design__container--2">
            <input class="design__palette" type="radio" id="color2" name="palette" value="color2"/>
            <div class="design__rectangle design__rectangle--4"></div>
            <div class="design__rectangle design__rectangle--5"></div>
            <div class="design__rectangle design__rectangle--6"></div>
          </div>

          <div class="design__container design__container--3">
            <input class="design__palette" type="radio" id="color3" name="palette" value="color3" />
            <div class="design__rectangle design__rectangle--7"></div>
            <div class="design__rectangle design__rectangle--8"></div>
            <div class="design__rectangle design__rectangle--9"></div>
          </div>

      </div>
  </div>

</fieldset>
