<section class="design">

<img
src="#"
alt="Design icon">

<h2 class="design__header">
    Diseña
</h2>

<img
 src="#"
 alt="Dropdown arrow"
>

<p class="design__text">
    Colores
</p>

<input
 type="radio"
 id="color1"
 name="color1"
 value="color1"
>

<div class="design__container">
    <div class="design__rectangle design__rectangle--1">
    </div>
    <div class="design__rectangle design__rectangle--2">
    </div>
    <div class="design__rectangle design__rectangle--3">
    </div>
</div>

<input
 type="radio"
 id="color2"
 name="color2"
 value="color2"
>

<div class="design__container">
    <div class="design__rectangle design__rectangle--4">

    </div>
    <div class="design__rectangle design__rectangle--5">
    </div>
    <div class="design__rectangle design__rectangle--6">
    </div>
</div>

<input
 type="radio"
 id="color3"
 name="color3"
 value="color3"
>

<div class="design__container">
    <div class="design__rectangle design__rectangle--7">
    </div>
    <div class="design__rectangle design__rectangle--8">
    </div>
    <div class="design__rectangle design__rectangle--9">
    </div>
</div>

</section>