<fieldset class="design js__design-fieldset">
  <legend class="design__legend js__design-legend">
    <div class="design__legend__container">
      <div>
        <i class="design__legend__container__icon far fa-object-ungroup"></i>
      </div>
      <h2 class="design__legend__container__text">Diseña</h2>
    </div>
    <div>
      <i class="js__arrowDown1 fas fa-chevron-down fill__legend--title--arrow"></i>
    </div>
  </legend>

  <div class="design__colors js__design-colors collapsed">
    <p class="design__text">Colores</p>
    <div>
      <div class="design__container design__container--1">
        <input
          class="js-radio design__palette"
          type="radio"
          id="color1"
          name="palette"
          value="1"
          checked
        />
        <div class="design__rectangle design__rectangle--1"></div>
        <div class="design__rectangle design__rectangle--2"></div>
        <div class="design__rectangle design__rectangle--3"></div>
      </div>

      <div class="design__container design__container--2">
        <input
          class="js-radio design__palette"
          type="radio"
          id="color2"
          name="palette"
          value="2"
        />
        <div class="design__rectangle design__rectangle--4"></div>
        <div class="design__rectangle design__rectangle--5"></div>
        <div class="design__rectangle design__rectangle--6"></div>
      </div>

      <div class="design__container design__container--3">
        <input
          class="js-radio design__palette"
          type="radio"
          id="color3"
          name="palette"
          value="3"
        />
        <div class="design__rectangle design__rectangle--7"></div>
        <div class="design__rectangle design__rectangle--8"></div>
        <div class="design__rectangle design__rectangle--9"></div>
      </div>
      <div class="design__container design__container--4">
        <input
          class="js-radio design__palette"
          type="radio"
          id="color4"
          name="palette"
          value="4"
        />
        <div class="design__rectangle design__rectangle--10"></div>
        <div class="design__rectangle design__rectangle--11"></div>
        <div class="design__rectangle design__rectangle--12"></div>
      </div>
    </div>
  </div>
</fieldset>
