<fieldset class="fill">
  <legend class="fill__legend js__fill-legend">
    <div class="fill__legend--title">
      <i class="fill__legend--title--icon fas fa-keyboard"></i>
      <h2 class="fill__legend--title--name">Rellena</h2>
    </div>
    <div>
      <i
        class="js__arrowDown2 fas fa-chevron-down fill__legend--title--arrow"
      ></i>
    </div>
  </legend>
  <div class="js__field js__inputs field collapsed">
    <div class="field__item">
      <label for="name">Nombre completo</label>
      <input
        class="field__item--placeholder js_name js-reset"
        id="name"
        type="text"
        name="name"
        placeholder="Ej: Sally Jill"
        required
      />
    </div>
    <div class="field__item">
      <label for="job">Puesto</label>
      <input
        class="field__item--placeholder js_job js-reset"
        id="job"
        type="text"
        name="job"
        placeholder="Ej: Front-end unicorn"
        required
      />
    </div>
    <div class="field__item">
      <div class="action action__upload-btn">
        <label for="proflie_image">Imagen de perfil</label>
        <input
          class="add_image__button action__hiddenField js__profile-upload-btn"
          type="file"
          value="Añadir imagen"
          id="profile_image"
        />
      </div>
      <!-- Recuadro preview de la imagen  -->
      <div class="add_image__photo-preview js__profile-preview"></div>
    </div>
    <div class="field__item">
      <label for="email">Email</label>
      <input
        class="field__item--placeholder js_email js-reset"
        id="email"
        type="email"
        name="email"
        href=""
        placeholder="Ej: sally-hill@gmail.com"
        required
      />
    </div>
    <div class="field__item">
      <label for="phone">Teléfono</label>
      <input
        class="field__item--placeholder js_phone js-reset"
        id="phone"
        type="tel"
        name="phone"
        href=""
        placeholder="Ej: 555-55-55-55"
        required
      />
    </div>
    <div class="field__item">
      <label for="linkedin">Linkedin</label>
      <input
        class="field__item--placeholder js_linkedin js-reset"
        id="linkedin"
        type="text"
        name="linkedin"
        href=""
        placeholder="Ej: linkedin.com/in/sally.hill"
        required
      />
    </div>
    <div class="field__item">
      <label for="github">Github</label>
      <input
        class="field__item--placeholder js_github js-reset"
        id="github"
        type="text"
        name="github"
        href=""
        placeholder="Ej: @sally-hill"
      />
    </div>
  </div>
</fieldset>
