<main class="main">
    <div class="main__landing">
    <img src="./assets/images/tarjetas-molonas.png" class="main__logo" alt="Logo de tarjetas molonas" width="250px" height="63px" />
    <h1 class="main__title">Crea tu tarjeta de visita</h1>
    <p class="main__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>

    <ul class="main__box">
        <li class="main__box--icon">
            <i class="main__icon fa-solid fa-object-ungroup"></i>
            <span class="main__box--words">Diseña</span>
        </li>
        <li class="main__box--icon">
            <i class="main__icon fa-regular fa-keyboard"></i>
            <span class="main__box--words">Rellena</span>
        </li>
        <li class="main__box--icon">
            <i class="fa fa-share-alt"></i>
            <span class="main__box--words">Comparte</span>
        </li>
    </ul>
    <button class="main__button" type="start"><a href="../create.html">comenzar</a></button>
</div>
</main>