<main class="main">
    <div class="main__landing">
    <img src="./assets/images/tarjetas-molonas.png" class="main__logo" alt="logo" width="250px" height="63px" />
    <h1 class="main__title">Crea tu tarjeta de visita</h1>
    <p class="main__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>

    <form class="main__box">
        <fieldset class="main__box--icon">
            <i class="fa-solid fa-object-ungroup"></i>
            <legend class="main__text2">Diseña</legend>
        </fieldset>
        <fieldset class="main__box--icon">
            <i class="fa-regular fa-keyboard"></i>
            <legend class="main__text">Rellena</legend>
        </fieldset>
        <fieldset class="main__box--icon">
            <i class="fa fa-share-alt"></i>
            <legend class="main__text">Comparte</legend>
        </fieldset>
    </form>
    <button class="main__button" type="start"><a>comenzar</a></button>
</div>
</main>