<main class="main">
    <img src="./assets/images/tarjetas-molonas.png" class="main__logo" alt="logo" width="250px" height="63px" />
    <h1 class="main__title">Crea tu tarjeta de visita</h1>
    <p class="main__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>

    <ul class="main__list">
        <li class="main__list--icon">
            <i class="fa-solid fa-object-ungroup"></i>
            <p class="main__list--icon__text">Diseña</p>
        </li>
        <li class="main__list--icon">
            <i class="fa-regular fa-keyboard"></i>
            <p class="main__list--icon__text">Rellena</p>
        </li>
        <li class="main__list--icon">
            <i class="fa-solid fa-diagram-project"></i>
            <p class="main__list--icon__text">Comparte</p>
        </li>
    </ul>
   <a href="../create.html"><button class="main__button" type="start">comenzar</button></a>

</main>