<section class="profile">
  <button class="profile__button">
    <i class="fa-solid fa-trash-can"></i>
    <p class="profile__text">Reset</p>
  </button>

  <div class="rectangle">
    <h2 class="rectangle__title">Nombre apellido</h2>
    <h3 class="rectangle__subtitle">Front-end developer</h3>
    <div class="rectangle__preview"></div>
    <!-- <p class="in_process">
          Aquí van los iconos :)
      </p> -->
    <ul class="rectangle__icons">
      <li class="rectangle__icons-item"><i class="fa-solid fa-mobile-screen-button"></i></li>
      <li class="rectangle__icons-item"><i class="fa-solid fa-envelope"></i></li>
      <li class="rectangle__icons-item"><i class="fa-brands fa-linkedin-in"></i></li>
      <li class="rectangle__icons-item"><i class="fa-brands fa-github-alt"></i></li>
    </ul>
  </div>
</section>
