<section class="profile">
  <button class="profile__button">
    <i class="fas fa-trash-alt"></i>
    <p class="profile__text">Reset</p>
  </button>

  <div class="rectangle">
      <div class="rectangle__titles">
        <h2 class="rectangle__titles-title">Nombre apellido</h2>
        <h3 class="rectangle__titles-subtitle">Front-end developer</h3>
      </div>
   
    <div class="rectangle__preview"></div>
    <!-- <p class="in_process">
          Aquí van los iconos :)
      </p> -->
    <ul class="rectangle__icons">
      <li class="rectangle__icons-item">
        <i class="rectangle__icons-item-size fas fa-mobile-alt"></i>
      </li>
      <li class="rectangle__icons-item">
        <i class="rectangle__icons-item-size far fa-envelope"></i>
      </li>
      <li class="rectangle__icons-item">
        <i class="rectangle__icons-item-size fab fa-linkedin-in"></i>
      </li>
      <li class="rectangle__icons-item">
        <i class="rectangle__icons-item-size fab fa-github-alt"></i>
      </li>
    </ul>
  </div>
</section>
