<fieldset class="share">
  <legend class="share__legend js__share-legend">
    <div class="share__legend__container">
      <i class="share__legend__container__icon fa fa-share-alt"></i>
      <h2 class="share__legend__container__text">Comparte</h2>
    </div>
    <div>
      <i class="js__arrowDown fas fa-chevron-down"></i>
      <i class="js__arrowUp fas fa-chevron-up collapsed"></i>
    </div>
  </legend>

  <div class="js__share share__container">
    <button class="share__container--button">
      <i class="share__container--button__icon far fa-address-card"></i>
      <p class="share__container--button__text">Crear tarjeta</p>
    </button>
  </div>
</fieldset>
