<fieldset class="share">
  <legend class="share__legend js__share-legend">
    <div class="share__legend__container">
      <i class="share__legend__container__icon fa fa-share-alt"></i>
      <h2 class="share__legend__container__text">Comparte</h2>
    </div>
    <div>
      <i class="js__arrowDown3 fas fa-chevron-down fill__legend--title--arrow"></i>
    </div>
  </legend>
  <article class="js__share share__article collapsed">
    <div class="share__container">
      <button class="share__container--button js-share-btn">
        <i class="share__container--button__icon far fa-address-card"></i>
        <p class="share__container--button__text js_create">Crear tarjeta</p>
      </button>
    </div>
    <div class="hidden share__card js-message">
      <p class="share__card__title js-create">La tarjeta ha sido creada:</p>
      <a
        class="share__card__link js-url"
        href="https://awesome-profile-card.com?id=A456DF0001"
        >https://awesome-profile-card.com?id=A456DF0001</a
      >
      <div class="share__card__twitter">
        <button class="share__card__twitter--button js-twitter-button">
          <i class="fab fa-twitter"></i>
          <p class="hare__card__twitter--button--text">Compartir en twitter</p>
        </button>
      </div>
    </div>
  </article>
</fieldset>
