// fonts
$font-family: "Open Sans", sans-serif;
$landing-title: "Merriweather", serif;
$card-role: "Montserrat", sans-serif;

// colors
$whitetwo: #fff;
$light-grey-blue: #a0c0cf;
$hospital-green: #a2deaf;
$dirty-blue: #438792;
$dark-green-blue: #114e4e;
$light-khaki: #f9f4dc;
$faded-orange: #eab052;
$dull-orange: #e17334;
$tomato: #e95626;
$rusty-red: #bd1010;
$dried-blood: #420101;
$slate: #3e5b65;
$gun-metal: #54585a;
$black: #000;
