// fonts
$font-family: "Open Sans", sans-serif;
$landing-title: "Merriweather", serif;
$card-role: "Montserrat", sans-serif;

// colors
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$light-grey-blue: #a0c0cf;
$hospital-green: #a2deaf;
$dirty-blue: #438792;
$azure: #00a0f5;
$dark-green-blue: #114e4e;
$light-khaki: #f9f4dc;
$whitetwo: #fff;
$white-four: #f5f5f5;
$white-grey: #d8d8d8;
$brownish-grey: #6b6b6b;
$faded-orange: #eab052;
$dull-orange: #e17334;
$softorange: #f0ad8670;
$tomato: #e95626;
$rusty-red: #bd1010;
$dried-blood: #420101;
$slate: #3e5b65;
$gun-metal: #54585a;
$black: #000;
$darkbrown: #beb7ac;
$codequetecode-green:#c9e265;
$codequetecode-black: #000;
$codequetecode-orange: #ffbd59;


// sizes
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
