.create {
  min-height: calc(100vh - 245px);

  @media all and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 768px;
    gap: 30px;
    background: linear-gradient(to bottom, $white-four, $whitetwo 9%);
    padding: 23px 40px 21px;
    min-height: calc(100vh - 190px);

    @media all and (min-width: $desktop-width) {
      grid-template-columns: 1fr 1.5fr;
    }

    .profile {
      grid-column-start: 2;
      grid-row-start: 1;
      border-radius: 8px;
    }

    .form {
      display: grid;
      grid-column-start: 1;
      grid-row-start: 1;
      align-items: start;
      margin: 0;
    }
  }
}
