.design {
  width: $mobile-width;
  border-bottom: 100%;
  border-bottom: 1px solid $white-grey;

  &__header {
    text-transform: uppercase;
    width: 100%;
    height: 24px;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $gun-metal;
  }

  &__legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;

    &__container {
      width: $mobile-width;
    }
  }

  &__icon {
    color: $dull-orange;
  }

  &__colors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
  }

  &__text {
    text-transform: uppercase;
    width: 62px;
    height: 19px;
    margin: 0px 82px 32px 0;
    font-family: $font-family;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $gun-metal;
  }

  &__container {
    display: flex;
    flex-direction: row;

    &--2 {
      padding: 20px 0px;
    }

    &--3 {
      margin-bottom: 25px;
    }
  }

  &__rectangle {
    width: 30px;
    height: 25px;

    &--1 {
      background-color: $dark-green-blue;
    }

    &--2 {
      background-color: $dirty-blue;
    }

    &--3 {
      background-color: $hospital-green;
    }

    &--4 {
      background-color: $dried-blood;
    }

    &--5 {
      background-color: $rusty-red;
    }

    &--6 {
      background-color: $tomato;
    }

    &--7 {
      background-color: $slate;
    }

    &--8 {
      background-color: $faded-orange;
    }

    &--9 {
      background-color: $light-grey-blue;
    }
  }

  &__palette {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    margin-right: 10px;
  }
}

.collapsed {
  display: none;
}
