.share {
  width: $mobile-width;
  //height: 164px;
  position: relative;
  border-bottom: 1px solid $white-grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  &__legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;

    &__container {
      display: flex;
      align-items: center;
      gap: 10px;

      &__icon {
        color: $dull-orange;
      }

      &__text {
        text-transform: uppercase;
        height: 24px;
        font-family: $font-family;
        font-size: 18px;
        color: $gun-metal;
      }
    }
  }

  &__container {
    width: $mobile-width;
    position: relative;
    top: 0px;
    height: 160px;
    &--button {
      width: 199px;
      height: 50px;
      padding: 13px 18px 13px 17px;
      border-radius: 12px;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
      background-color: $dull-orange;
      color: $whitetwo;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      left: 50%;
      bottom: 30%;
      transform: translateX(-50%);

      &__text {
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-transform: uppercase;
      }
    }
  }
}

.collapsed {
  display: none;
}
